.container {
    width: 1600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 18px;
    background-image: linear-gradient(180deg, #001057 0%, #002b88 100%);
  }
  
  .blue-info {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    gap: 100px;
    padding-top: 0px;
    background-color: rgb(21, 0, 70);
    padding-bottom: 16px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
  }
  
  .blue-result {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    width: 200px;
    margin-right: 40px;
  }
  
  .roles {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
  }
  
  .kdas {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
  }
  
  .dmgs {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
  }
  
  .golds {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
  }
  
  .css {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
  }
  
  .wards {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
  }
  
  .champItems {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
  .blue {
    padding-top: 5px;
    display: flex;
    align-items: center; 
    background-color: rgb(23, 62, 146);
  }
  
  .champ {
    margin-right: 10px; /* Add margin for spacing */
    padding-left: 120px;
  }
  
  .spells {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 10px;
  }
  
  .name {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    font-weight: 800;
    padding-left: 20px;
    width: 80px;
  }
  
  .role {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    width: 80px;
    font-weight: 800;
    padding-left: 62px;
  }
  
  .kda {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    width: 80px;
    font-weight: 800;
    padding-left: 62px;
  }
  
  .dmg {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    width: 120px;
    font-weight: 800;
    padding-left: 62px;
  }
  
  .gold {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    width: 100px;
    font-weight: 800;
    padding-left: 60px;
  }
  
  .cs {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    width: 120px;
    font-weight: 800;
    padding-left: 21px;
  }
  
  .ward {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 19px;
    width: 80px;
    font-weight: 800;
    padding-left: 46px;
  }
  
  .items {
    padding-left: 178px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  