/* Match.css */
.match {
  width: 100%;
}

.blue-info {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Adjust this property as needed */
  padding: 10px;
}

.championImage img {
  width: 50px; /* Adjust the width as needed */
  height: auto;
  margin-right: 10px;
}

.result,
.stat {
  flex-grow: 1;
  text-align: center;
  color: rgb(0, 12, 82);
  font-size: 35px;
  font-weight: 800;
  width: 380px;
}
